In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("/Users/yuesongyang/Desktop/Hack4Climate/socioeconomic_indicators_GDP.xlsx")

In [4]:
df2 = pd.read_excel("/Users/yuesongyang/Desktop/Hack4Climate/socioeconomic_indicators_pop_growth.xlsx")

In [5]:
df.head()

,country,ISO code,GDP in 2011,GDP in 2012,GDP in 2013,GDP in 2014,GDP in 2015,GDP in 2016,Country GDP rank in 2011,Country GDP rank in 2012,...,GDP per capita in 2013,GDP per capita in 2014,GDP per capita in 2015,GDP per capita in 2016,Country GDP per capita rank in 2011,Country GDP per capita rank in 2012,Country GDP per capita rank in 2013,Country GDP per capita rank in 2014,Country GDP per capita rank in 2015,Country GDP per capita rank in 2016
0,Afghanistan,AFG,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10,110.0,105.0,...,631.744971,612.069651,584.025902,561.778746,175.0,172.0,174.0,175.0,172.0,166.0
1,Albania,ALB,1.289087e+10,1.231978e+10,1.278103e+10,1.321986e+10,1.139037e+10,1.192689e+10,121.0,124.0,...,4414.723140,4575.763787,3954.022783,4146.896250,103.0,105.0,104.0,102.0,105.0,95.0
2,Algeria,DZA,2.000000e+11,2.090000e+11,2.100000e+11,2.140000e+11,1.650000e+11,1.560000e+11,47.0,47.0,...,5471.866766,5470.851007,4132.760292,3843.752322,97.0,96.0,96.0,92.0,100.0,103.0
3,Andorra,AND,3.427023e+09,3.146152e+09,3.248925e+09,NaN,NaN,NaN,156.0,155.0,...,40215.435320,NaN,NaN,NaN,25.0,26.0,26.0,NaN,NaN,NaN
4,Angola,AGO,1.040000e+11,1.150000e+11,1.250000e+11,1.270000e+11,1.030000e+11,8.963316e+10,59.0,59.0,...,4804.616884,4709.312024,3695.793748,3110.808183,105.0,101.0,100.0,101.0,111.0,112.0

In [6]:
df2.head()

,Country,ISO three letter country code,Population of the country in 2016,Population of the country in 2011,Population rank in 2016,Population rank in 2011,Population growth rate in 2016,Population growth rate in 2011,Rank of population growth rate in 2016,Rank of population growth rate in 2011
0,Afghanistan,AFG,34656032.0,29708599.0,40.0,41,2.689163,3.095119,28.0,18.0
1,Albania,ALB,2876101.0,2905195.0,136.0,135,3.367572,-0.269017,7.0,179.0
2,Algeria,DZA,40606052.0,36819558.0,34.0,34,-0.159880,1.924787,179.0,66.0
3,Andorra,AND,77281.0,83751.0,184.0,185,-0.944017,-0.829969,191.0,187.0
4,Angola,AGO,28813463.0,24218565.0,48.0,51,1.251759,3.570352,99.0,10.0

In [7]:
df2=df2.rename(columns = {'Country':'country'})

In [8]:
df2.columns

Index(['country', 'ISO three letter country code',
       'Population of the country in 2016',
       'Population of the country in 2011', 'Population rank in 2016',
       'Population rank in 2011', 'Population growth rate in 2016',
       'Population growth rate in 2011',
       'Rank of population growth rate in 2016',
       'Rank of population growth rate in 2011'],
      dtype='object')

In [9]:
result = pd.merge(df, df2, on='country')

In [10]:
result.head()

,country,ISO code,GDP in 2011,GDP in 2012,GDP in 2013,GDP in 2014,GDP in 2015,GDP in 2016,Country GDP rank in 2011,Country GDP rank in 2012,...,Country GDP per capita rank in 2016,ISO three letter country code,Population of the country in 2016,Population of the country in 2011,Population rank in 2016,Population rank in 2011,Population growth rate in 2016,Population growth rate in 2011,Rank of population growth rate in 2016,Rank of population growth rate in 2011
0,Afghanistan,AFG,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10,110.0,105.0,...,166.0,AFG,34656032.0,29708599.0,40.0,41,2.689163,3.095119,28.0,18.0
1,Albania,ALB,1.289087e+10,1.231978e+10,1.278103e+10,1.321986e+10,1.139037e+10,1.192689e+10,121.0,124.0,...,95.0,ALB,2876101.0,2905195.0,136.0,135,3.367572,-0.269017,7.0,179.0
2,Algeria,DZA,2.000000e+11,2.090000e+11,2.100000e+11,2.140000e+11,1.650000e+11,1.560000e+11,47.0,47.0,...,103.0,DZA,40606052.0,36819558.0,34.0,34,-0.159880,1.924787,179.0,66.0
3,Andorra,AND,3.427023e+09,3.146152e+09,3.248925e+09,NaN,NaN,NaN,156.0,155.0,...,NaN,AND,77281.0,83751.0,184.0,185,-0.944017,-0.829969,191.0,187.0
4,Angola,AGO,1.040000e+11,1.150000e+11,1.250000e+11,1.270000e+11,1.030000e+11,8.963316e+10,59.0,59.0,...,112.0,AGO,28813463.0,24218565.0,48.0,51,1.251759,3.570352,99.0,10.0

In [11]:
result.columns

Index(['country', 'ISO code', 'GDP in 2011', 'GDP  in 2012', 'GDP  in 2013',
       'GDP in 2014', 'GDP  in 2015', 'GDP in 2016',
       'Country GDP rank in 2011', 'Country GDP rank in 2012',
       'Country GDP rank in 2013', 'Country GDP rank in 2014',
       'Country GDP rank in 2015', 'Country GDP rank in 2016',
       'GDP per capita in 2011', 'GDP per capita  in 2012',
       'GDP per capita  in 2013', 'GDP per capita  in 2014',
       'GDP per capita in 2015', 'GDP per capita  in 2016',
       'Country GDP per capita rank in 2011',
       'Country GDP per capita rank in 2012',
       'Country GDP per capita rank in 2013',
       'Country GDP per capita rank in 2014',
       'Country GDP per capita rank in 2015',
       'Country GDP per capita rank in 2016', 'ISO three letter country code',
       'Population of the country in 2016',
       'Population of the country in 2011', 'Population rank in 2016',
       'Population rank in 2011', 'Population growth rate in 2016',
       'Population growth rate in 2011',
       'Rank of population growth rate in 2016',
       'Rank of population growth rate in 2011'],
      dtype='object')

In [12]:
countries=["CHN","IND","JPN","BRA","CAN","USA","GBR","FRA","ITA","DEU"]
top10_GDP=result.loc[result['ISO code'].isin(countries)]
top10_GDP=top10_GDP.sort_values(by=['Country GDP rank in 2016'])
top10_GDP

,country,ISO code,GDP in 2011,GDP in 2012,GDP in 2013,GDP in 2014,GDP in 2015,GDP in 2016,Country GDP rank in 2011,Country GDP rank in 2012,...,Country GDP per capita rank in 2016,ISO three letter country code,Population of the country in 2016,Population of the country in 2011,Population rank in 2016,Population rank in 2011,Population growth rate in 2016,Population growth rate in 2011,Rank of population growth rate in 2016,Rank of population growth rate in 2011
184,United States,USA,1.550000e+13,1.620000e+13,1.670000e+13,1.740000e+13,1.800000e+13,1.860000e+13,1.0,1.0,...,7.0,USA,3.231275e+08,3.116634e+08,3.0,3,1.739791,0.745614,71.0,132.0
35,China,CHN,7.570000e+12,8.560000e+12,9.610000e+12,1.050000e+13,1.110000e+13,1.120000e+13,2.0,2.0,...,66.0,CHN,1.378665e+09,1.344130e+09,1.0,1,3.278534,0.479150,9.0,140.0
83,Japan,JPN,6.160000e+12,6.200000e+12,5.160000e+12,4.850000e+12,4.380000e+12,4.940000e+12,3.0,3.0,...,20.0,JPN,1.269945e+08,1.278330e+08,11.0,10,-0.214276,-0.185226,180.0,178.0
63,Germany,DEU,3.760000e+12,3.540000e+12,3.750000e+12,3.880000e+12,3.360000e+12,3.470000e+12,4.0,4.0,...,16.0,DEU,8.266768e+07,8.027498e+07,16.0,16,2.236738,-1.853715,49.0,191.0
183,United Kingdom,GBR,2.610000e+12,2.650000e+12,2.720000e+12,3.000000e+12,2.860000e+12,2.620000e+12,7.0,6.0,...,18.0,GBR,6.563724e+07,6.325892e+07,22.0,22,0.692801,0.781677,141.0,126.0
59,France,FRA,2.860000e+12,2.680000e+12,2.810000e+12,2.850000e+12,2.430000e+12,2.470000e+12,5.0,5.0,...,23.0,FRA,6.689611e+07,6.534278e+07,21.0,21,0.481445,0.483645,149.0,139.0
75,India,IND,1.820000e+12,1.830000e+12,1.860000e+12,2.040000e+12,2.110000e+12,2.260000e+12,10.0,10.0,...,134.0,IND,1.324171e+09,1.247236e+09,2.0,2,-0.255023,1.311876,181.0,95.0
81,Italy,ITA,2.280000e+12,2.070000e+12,2.130000e+12,2.150000e+12,1.820000e+12,1.850000e+12,8.0,9.0,...,24.0,ITA,6.060059e+07,5.937945e+07,23.0,23,1.033589,0.171978,120.0,164.0
23,Brazil,BRA,2.620000e+12,2.470000e+12,2.470000e+12,2.460000e+12,1.800000e+12,1.800000e+12,6.0,7.0,...,62.0,BRA,2.076529e+08,1.986867e+08,5.0,5,0.817556,0.956013,133.0,121.0
31,Canada,CAN,1.790000e+12,1.820000e+12,1.840000e+12,1.790000e+12,1.550000e+12,1.530000e+12,11.0,11.0,...,15.0,CAN,3.628642e+07,3.434278e+07,38.0,37,0.824580,0.987618,132.0,120.0

In [13]:
top10_Pop=result.loc[result['Population rank in 2016'] <= 10]
top10_Pop=top10_Pop.sort_values(by=['Population rank in 2016'])
top10_Pop

,country,ISO code,GDP in 2011,GDP in 2012,GDP in 2013,GDP in 2014,GDP in 2015,GDP in 2016,Country GDP rank in 2011,Country GDP rank in 2012,...,Country GDP per capita rank in 2016,ISO three letter country code,Population of the country in 2016,Population of the country in 2011,Population rank in 2016,Population rank in 2011,Population growth rate in 2016,Population growth rate in 2011,Rank of population growth rate in 2016,Rank of population growth rate in 2011
35,China,CHN,7.570000e+12,8.560000e+12,9.610000e+12,1.050000e+13,1.110000e+13,1.120000e+13,2.0,2.0,...,66.0,CHN,1.378665e+09,1.344130e+09,1.0,1,3.278534,0.479150,9.0,140.0
75,India,IND,1.820000e+12,1.830000e+12,1.860000e+12,2.040000e+12,2.110000e+12,2.260000e+12,10.0,10.0,...,134.0,IND,1.324171e+09,1.247236e+09,2.0,2,-0.255023,1.311876,181.0,95.0
184,United States,USA,1.550000e+13,1.620000e+13,1.670000e+13,1.740000e+13,1.800000e+13,1.860000e+13,1.0,1.0,...,7.0,USA,3.231275e+08,3.116634e+08,3.0,3,1.739791,0.745614,71.0,132.0
76,Indonesia,IDN,8.930000e+11,9.180000e+11,9.130000e+11,8.910000e+11,8.610000e+11,9.320000e+11,17.0,16.0,...,109.0,IDN,2.611155e+08,2.457075e+08,4.0,4,1.137494,1.304067,108.0,97.0
23,Brazil,BRA,2.620000e+12,2.470000e+12,2.470000e+12,2.460000e+12,1.800000e+12,1.800000e+12,6.0,7.0,...,62.0,BRA,2.076529e+08,1.986867e+08,5.0,5,0.817556,0.956013,133.0,121.0
130,Pakistan,PAK,2.140000e+11,2.240000e+11,2.310000e+11,2.440000e+11,2.710000e+11,2.840000e+11,46.0,44.0,...,138.0,PAK,1.932035e+08,1.741843e+08,6.0,6,1.132886,2.102553,110.0,61.0
127,Nigeria,NGA,4.120000e+11,4.610000e+11,5.150000e+11,5.680000e+11,4.810000e+11,4.050000e+11,29.0,27.0,...,128.0,NGA,1.859896e+08,1.628771e+08,7.0,7,1.110103,2.674755,113.0,41.0
13,Bangladesh,BGD,1.290000e+11,1.330000e+11,1.500000e+11,1.730000e+11,1.950000e+11,2.210000e+11,58.0,57.0,...,141.0,BGD,1.629516e+08,1.539119e+08,8.0,8,2.763534,1.151949,27.0,106.0
141,Russian Federation,RUS,2.030000e+12,2.170000e+12,2.230000e+12,2.060000e+12,1.370000e+12,1.280000e+12,9.0,8.0,...,61.0,RUS,1.443424e+08,1.429609e+08,9.0,9,0.492776,0.077967,148.0,169.0
111,Mexico,MEX,1.170000e+12,1.190000e+12,1.260000e+12,1.300000e+12,1.150000e+12,1.050000e+12,15.0,15.0,...,65.0,MEX,1.275404e+08,1.190900e+08,10.0,11,1.301731,1.498344,94.0,83.0

In [14]:
df3=pd.read_excel("/Users/yuesongyang/Desktop/Hack4Climate/CW_WB_Climate_Vulnerability_Readiness_31102017.xlsx", 
                  sheet_name="Vulnerability_Readiness")

In [15]:
df3.head()

,country,Population living below the national income poverty line,Climate Risk Score,Vulnerability score,Readiness score,Link to climate risk and adaptation profile,Droughts,Storms,Epidemics,Landslides,Floods,Wildfires
0,AFG,35.8,36.17,0.633770,0.281464,http://sdwebx.worldbank.org/climateportal/coun...,YES,YES,YES,YES,YES,NO
1,AGO,NaN,106.67,0.566557,0.289926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,14.3,125.50,0.386407,0.525043,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,NaN,154.67,0.364053,0.603236,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df3=df3.iloc[:,:5]

In [17]:
df3.head()

,country,Population living below the national income poverty line,Climate Risk Score,Vulnerability score,Readiness score
0,AFG,35.8,36.17,0.633770,0.281464
1,AGO,NaN,106.67,0.566557,0.289926
2,ALB,14.3,125.50,0.386407,0.525043
3,AND,NaN,NaN,NaN,NaN
4,ARE,NaN,154.67,0.364053,0.603236

In [18]:
df3=df3.rename(columns = {"country" : "ISO code"})

In [19]:
top10_GDP = pd.merge(top10_GDP, df3, on='ISO code')

In [20]:
top10_GDP

,country,ISO code,GDP in 2011,GDP in 2012,GDP in 2013,GDP in 2014,GDP in 2015,GDP in 2016,Country GDP rank in 2011,Country GDP rank in 2012,...,Population rank in 2016,Population rank in 2011,Population growth rate in 2016,Population growth rate in 2011,Rank of population growth rate in 2016,Rank of population growth rate in 2011,Population living below the national income poverty line,Climate Risk Score,Vulnerability score,Readiness score
0,United States,USA,1.550000e+13,1.620000e+13,1.670000e+13,1.740000e+13,1.800000e+13,1.860000e+13,1.0,1.0,...,3.0,3,1.739791,0.745614,71.0,132.0,NaN,47.50,0.246781,0.769275
1,China,CHN,7.570000e+12,8.560000e+12,9.610000e+12,1.050000e+13,1.110000e+13,1.120000e+13,2.0,2.0,...,1.0,1,3.278534,0.479150,9.0,140.0,NaN,52.00,0.302289,0.518751
2,Japan,JPN,6.160000e+12,6.200000e+12,5.160000e+12,4.850000e+12,4.380000e+12,4.940000e+12,3.0,3.0,...,11.0,10,-0.214276,-0.185226,180.0,178.0,NaN,87.50,0.288026,0.756604
3,Germany,DEU,3.760000e+12,3.540000e+12,3.750000e+12,3.880000e+12,3.360000e+12,3.470000e+12,4.0,4.0,...,16.0,16,2.236738,-1.853715,49.0,191.0,NaN,43.50,0.226580,0.788762
4,United Kingdom,GBR,2.610000e+12,2.650000e+12,2.720000e+12,3.000000e+12,2.860000e+12,2.620000e+12,7.0,6.0,...,22.0,22,0.692801,0.781677,141.0,126.0,NaN,66.17,0.210974,0.782798
5,France,FRA,2.860000e+12,2.680000e+12,2.810000e+12,2.850000e+12,2.430000e+12,2.470000e+12,5.0,5.0,...,21.0,21,0.481445,0.483645,149.0,139.0,NaN,42.33,0.256952,0.734654
6,India,IND,1.820000e+12,1.830000e+12,1.860000e+12,2.040000e+12,2.110000e+12,2.260000e+12,10.0,10.0,...,2.0,2,-0.255023,1.311876,181.0,95.0,21.9,37.50,0.453542,0.382419
7,Italy,ITA,2.280000e+12,2.070000e+12,2.130000e+12,2.150000e+12,1.820000e+12,1.850000e+12,8.0,9.0,...,23.0,23,1.033589,0.171978,120.0,164.0,NaN,46.00,0.283220,0.615492
8,Brazil,BRA,2.620000e+12,2.470000e+12,2.470000e+12,2.460000e+12,1.800000e+12,1.800000e+12,6.0,7.0,...,5.0,5,0.817556,0.956013,133.0,121.0,7.4,83.33,0.345614,0.455021
9,Canada,CAN,1.790000e+12,1.820000e+12,1.840000e+12,1.790000e+12,1.550000e+12,1.530000e+12,11.0,11.0,...,38.0,37,0.824580,0.987618,132.0,120.0,NaN,97.00,0.256292,0.739274

In [21]:
top10_Pop = pd.merge(top10_Pop, df3, on='ISO code')

In [22]:
top10_Pop

,country,ISO code,GDP in 2011,GDP in 2012,GDP in 2013,GDP in 2014,GDP in 2015,GDP in 2016,Country GDP rank in 2011,Country GDP rank in 2012,...,Population rank in 2016,Population rank in 2011,Population growth rate in 2016,Population growth rate in 2011,Rank of population growth rate in 2016,Rank of population growth rate in 2011,Population living below the national income poverty line,Climate Risk Score,Vulnerability score,Readiness score
0,China,CHN,7.570000e+12,8.560000e+12,9.610000e+12,1.050000e+13,1.110000e+13,1.120000e+13,2.0,2.0,...,1.0,1,3.278534,0.479150,9.0,140.0,NaN,52.00,0.302289,0.518751
1,India,IND,1.820000e+12,1.830000e+12,1.860000e+12,2.040000e+12,2.110000e+12,2.260000e+12,10.0,10.0,...,2.0,2,-0.255023,1.311876,181.0,95.0,21.9,37.50,0.453542,0.382419
2,United States,USA,1.550000e+13,1.620000e+13,1.670000e+13,1.740000e+13,1.800000e+13,1.860000e+13,1.0,1.0,...,3.0,3,1.739791,0.745614,71.0,132.0,NaN,47.50,0.246781,0.769275
3,Indonesia,IDN,8.930000e+11,9.180000e+11,9.130000e+11,8.910000e+11,8.610000e+11,9.320000e+11,17.0,16.0,...,4.0,4,1.137494,1.304067,108.0,97.0,11.3,70.83,0.402053,0.421007
4,Brazil,BRA,2.620000e+12,2.470000e+12,2.470000e+12,2.460000e+12,1.800000e+12,1.800000e+12,6.0,7.0,...,5.0,5,0.817556,0.956013,133.0,121.0,7.4,83.33,0.345614,0.455021
5,Pakistan,PAK,2.140000e+11,2.240000e+11,2.310000e+11,2.440000e+11,2.710000e+11,2.840000e+11,46.0,44.0,...,6.0,6,1.132886,2.102553,110.0,61.0,29.5,30.50,0.453047,0.341846
6,Nigeria,NGA,4.120000e+11,4.610000e+11,5.150000e+11,5.680000e+11,4.810000e+11,4.050000e+11,29.0,27.0,...,7.0,7,1.110103,2.674755,113.0,41.0,46.0,112.00,0.479971,0.281851
7,Bangladesh,BGD,1.290000e+11,1.330000e+11,1.500000e+11,1.730000e+11,1.950000e+11,2.210000e+11,58.0,57.0,...,8.0,8,2.763534,1.151949,27.0,106.0,31.5,25.00,0.506402,0.327122
8,Russian Federation,RUS,2.030000e+12,2.170000e+12,2.230000e+12,2.060000e+12,1.370000e+12,1.280000e+12,9.0,8.0,...,9.0,9,0.492776,0.077967,148.0,169.0,NaN,48.17,0.251346,0.562949
9,Mexico,MEX,1.170000e+12,1.190000e+12,1.260000e+12,1.300000e+12,1.150000e+12,1.050000e+12,15.0,15.0,...,10.0,11,1.301731,1.498344,94.0,83.0,53.2,58.00,0.332931,0.466286

In [23]:
top10_Pop.to_csv("top10ByPopulation_economic_Indicator.csv")

In [24]:
top10_GDP.to_csv("top10ByGDP_economic_Indicator.csv")

In [25]:
df4=pd.read_excel("/Users/yuesongyang/Desktop/Hack4Climate/CW_CAIT_GHG_Emissions_31102017.xlsx",sheet_name="GHG Emissions")

In [26]:
df4.head()

,Country,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),...,Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
0,Afghanistan,1990,15.212848,15.212848,2.915024,9.311589,2.984055,0.002180,2.915024,9.311589,...,0.057140,7.342710,4.038954,0.0,NaN,NaN,NaN,NaN,NaN,1.242220
1,Afghanistan,1991,15.286439,15.286439,2.684445,9.516187,3.082194,0.003613,2.684445,9.516187,...,0.058573,7.631027,4.220036,0.0,NaN,NaN,NaN,NaN,NaN,1.020851
2,Afghanistan,1992,14.010531,14.010531,1.392269,9.571483,3.041733,0.005046,1.392269,9.571483,...,0.063670,7.631443,4.401118,0.0,NaN,NaN,NaN,NaN,NaN,0.602588
3,Afghanistan,1993,14.028118,14.028118,1.322704,9.609869,3.089066,0.006479,1.322704,9.609869,...,0.065103,7.702742,4.582200,0.0,NaN,NaN,NaN,NaN,NaN,0.413993
4,Afghanistan,1994,13.985408,13.985408,1.267744,9.789039,2.920713,0.007912,1.267744,9.789039,...,0.066536,7.699139,4.763283,0.0,NaN,NaN,NaN,NaN,NaN,0.247331

In [27]:
EU=['AUT', 'BEL', 'BGR', 'HRV', 'CYP', 'CZE', 'DNK', 'EST', 'FIN', 'FRA', 'DEU', 'GRC', 'HUN', 'IRL', 
          'ITA', 'LVA', 'LTU', 'LUX', 'MLT', 'NLD', 'POL', 'PRT', 'ROU', 'SVK', 'SVN', 'ESP', 'SWE', 'GBR']
Names=df.loc[df['ISO code'].isin(EU)]

In [28]:
Names=Names['country']

In [29]:
Names

9              Austria
16             Belgium
25            Bulgaria
42             Croatia
44              Cyprus
45      Czech Republic
46             Denmark
55             Estonia
58             Finland
59              France
63             Germany
65              Greece
73             Hungary
79             Ireland
81               Italy
93              Latvia
99           Lithuania
100         Luxembourg
107              Malta
123        Netherlands
137             Poland
138           Portugal
140            Romania
152    Slovak Republic
153           Slovenia
158              Spain
166             Sweden
183     United Kingdom
Name: country, dtype: object

In [30]:
Names=Names.tolist()

In [31]:
df4=df4.loc[df4['Country'].isin(Names)]

In [32]:
df4

,Country,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),...,Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
225,Austria,1990,74.992673,63.134339,58.720224,9.631736,5.204820,1.435894,46.861890,9.631736,...,5.035472,8.895345,3.556211,-11.858334,0.91,19.90,9.64,13.63,14.146938,0.208707
226,Austria,1991,78.937850,67.079516,62.948848,9.442229,5.151841,1.394931,51.090514,9.442229,...,5.042084,8.743062,3.459241,-11.858334,1.01,20.74,10.19,15.05,15.511357,0.212107
227,Austria,1992,73.787300,61.928966,58.096176,9.271453,5.065702,1.353969,46.237842,9.271453,...,4.997399,8.576348,3.362271,-11.858334,1.09,17.50,9.25,15.07,14.815776,0.215506
228,Austria,1993,73.772127,61.913794,58.262208,9.156273,5.040641,1.313006,46.403874,9.156273,...,4.901418,8.526309,3.265301,-11.858334,1.15,17.64,9.50,15.22,14.490195,0.218905
229,Austria,1994,73.696929,61.838595,58.627248,8.804796,4.992842,1.272043,46.768914,8.804796,...,4.794445,8.217235,3.168330,-11.858334,1.21,19.14,9.39,15.28,13.484614,0.222304
230,Austria,1995,76.313270,64.454936,61.506272,8.587865,4.988053,1.231080,49.647938,8.587865,...,4.251457,8.085717,3.071360,-11.858334,1.35,20.69,9.84,15.50,14.649033,0.225703
231,Austria,1996,79.875898,68.017577,65.240928,8.359604,5.062440,1.212927,53.382607,8.359604,...,4.266895,8.036346,2.958649,-11.858321,1.49,21.24,9.98,17.12,16.050811,0.223197
232,Austria,1997,78.791473,66.933131,64.429936,8.102713,5.064051,1.194773,52.571594,8.102713,...,4.256685,7.885571,2.845937,-11.858342,1.55,21.72,11.15,16.19,14.522590,0.220690
233,Austria,1998,79.230813,67.372477,65.049936,7.917363,5.086895,1.176619,53.191600,7.917363,...,4.257468,7.827568,2.733225,-11.858336,1.63,20.84,10.50,18.30,14.564368,0.218184
234,Austria,1999,77.363782,65.505445,63.391616,7.733049,5.080652,1.158465,51.533279,7.733049,...,4.239930,7.741515,2.620513,-11.858337,1.57,19.98,9.69,17.81,15.066146,0.215678
235,Austria,2000,77.395370,65.537027,63.753296,7.466774,5.034988,1.140311,51.894953,7.466774,...,4.222393,7.534080,2.507801,-11.858343,1.72,19.60,10.85,18.55,13.917924,0.213171
236,Austria,2001,81.500998,74.409198,68.134288,7.285544,4.903805,1.177361,61.042488,7.285544,...,4.123388,7.397139,2.463037,-7.091800,1.69,21.43,10.71,20.04,15.109769,0.217664
237,Austria,2002,82.935277,75.843460,69.502912,7.151938,5.066017,1.214410,62.411095,7.151938,...,4.072016,7.601217,2.418272,-7.091817,1.59,21.98,10.29,21.93,14.421614,0.222157
238,Austria,2003,88.760340,81.669036,74.794592,6.992091,5.722198,1.251459,67.703288,6.992091,...,3.943700,8.273023,2.373508,-7.091304,1.49,24.20,11.05,23.51,15.183459,0.226651
239,Austria,2004,88.585552,81.494682,76.129088,6.842002,4.325954,1.288508,69.038218,6.842002,...,4.068200,6.902162,2.328744,-7.090870,1.76,24.80,11.71,23.84,14.715303,0.231144
240,Austria,2005,89.064819,81.973002,76.821680,6.714242,4.203339,1.325558,69.729863,6.714242,...,4.060796,6.827259,2.283979,-7.091817,1.99,25.53,11.49,24.55,14.087148,0.235637
241,Austria,2006,86.419503,82.261019,74.298240,6.584967,4.165083,1.371213,70.139756,6.584967,...,4.278990,6.733511,2.198834,-4.158484,2.07,24.45,11.68,23.30,13.544362,0.233806
242,Austria,2007,84.046067,79.888108,72.074112,6.467069,4.088017,1.416869,67.916153,6.467069,...,4.526497,6.612330,2.113689,-4.157959,2.20,23.93,11.32,23.54,11.771576,0.231975
243,Austria,2008,84.330692,80.172240,72.275408,6.399123,4.193636,1.462525,68.116956,6.399123,...,4.649428,6.723788,2.028544,-4.158452,2.20,23.81,12.13,22.41,12.358789,0.230143
244,Austria,2009,77.912077,73.753594,65.995648,6.267191,4.141058,1.508180,61.837164,6.267191,...,4.391303,6.613060,1.943399,-4.158484,1.91,20.26,11.73,21.60,11.146003,0.228312
245,Austria,2010,82.815172,78.656700,70.791456,6.225808,4.244071,1.553836,66.632985,6.225808,...,4.268746,6.748474,1.858254,-4.158471,2.07,24.26,11.60,22.21,11.653217,0.226481
246,Austria,2011,81.107228,76.215474,68.985728,6.214681,4.285574,1.621245,64.093974,6.214681,...,4.419612,6.771102,1.858660,-4.891754,2.18,24.34,11.70,21.62,10.172787,0.225066
247,Austria,2012,78.157933,73.266116,66.120384,6.144599,4.204295,1.688655,61.228567,6.144599,...,4.500862,6.611995,1.859067,-4.891817,2.09,22.36,11.19,21.59,9.832358,0.223650
248,Austria,2013,78.474334,73.582516,66.413744,6.114796,4.189729,1.756064,61.521927,6.114796,...,4.530817,6.559879,1.859474,-4.891817,2.00,21.54,10.93,22.78,10.051929,0.222235
249,Austria,2014,75.147698,70.255881,62.971072,6.109685,4.243467,1.823474,58.079255,6.109685,...,4.604739,6.600760,1.859881,-4.891817,1.99,19.80,10.75,22.26,9.051500,0.220819
400,Belgium,1990,129.449330,125.698060,109.701488,10.675137,9.035423,0.037281,105.950219,10.675137,...,7.646047,10.462697,3.150743,-3.751269,15.88,31.66,28.12,20.34,27.222575,0.827268
401,Belgium,1991,134.443192,130.691922,114.499728,10.614387,9.211225,0.117852,110.748459,10.614387,...,7.993795,10.525622,3.104312,-3.751269,16.10,32.16,29.01,20.61,30.276445,0.773018
402,Belgium,1992,133.052410,129.301141,113.163072,10.396432,9.294484,0.198422,109.411803,10.396432,...,8.656647,10.338798,3.057881,-3.751269,16.03,31.35,26.76,21.46,30.720315,0.718769
403,Belgium,1993,130.893077,127.141808,110.922240,10.243236,9.448609,0.278993,107.170971,10.243236,...,8.645323,10.287600,3.011450,-3.751269,16.09,31.23,24.67,22.18,30.184185,0.664519
404,Belgium,1994,136.216022,132.464753,116.141616,10.109247,9.605596,0.359563,112.390347,10.109247,...,9.264207,10.258472,2.965019,-3.751269,15.50,33.46,26.62,22.88,30.158055,0.610270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170,Sweden,2010,58.726692,54.543871,46.934016,5.106567,5.461537,1.224572,42.751195,5.106567,...,2.638179,6.563730,1.705505,-4.182821,8.31,12.90,8.14,21.69,5.081825,0.017453
4171,Sweden,2011,55.347126,51.090972,43.449584,5.090715,5.520004,1.286822,39.193430,5.090715,...,2.835997,6.584009,1.708471,-4.256154,7.71,10.32,8.20,21.06,4.621197,0.017453
4172,Sweden,2012,52.207284,47.951130,40.406224,5.068835,5.383152,1.349072,36.150070,5.068835,...,2.934887,6.402940,1.711436,-4.256154,7.50,9.64,7.43,20.19,3.880568,0.017453
4173,Sweden,2013,50.874449,46.618295,38.935072,5.069778,5.458277,1.411322,34.678918,5.069778,...,3.205985,6.456671,1.714402,-4.256154,7.47,9.26,6.97,19.67,3.579939,0.017453
4174,Sweden,2014,50.873195,46.912873,38.665760,5.077607,5.656255,1.473572,34.569439,5.167607,...,3.238923,6.640142,1.717368,-3.960321,7.63,9.07,6.51,19.94,3.729310,0.017453
4550,United Kingdom,1990,737.734414,725.575146,555.034336,117.787023,59.252804,5.660251,542.861069,117.799023,...,37.846272,56.820972,57.740883,-12.159268,26.97,246.32,76.93,114.95,118.305799,28.820487
4551,United Kingdom,1991,745.642800,733.483532,570.358621,113.471186,56.187139,5.625854,558.185354,113.483186,...,34.651501,55.328539,55.247564,-12.159268,25.63,246.20,78.96,114.34,129.149623,31.765573
4552,United Kingdom,1992,721.385309,709.226042,552.895008,109.596576,53.302269,5.591456,540.721741,109.608576,...,32.013658,54.458127,52.754244,-12.159268,27.23,245.70,70.55,115.81,123.823446,26.285833
4553,United Kingdom,1993,702.720785,690.561517,540.376197,105.552221,51.235307,5.557059,528.202930,105.564221,...,30.031671,54.235880,50.260925,-12.159268,28.29,224.39,71.56,116.98,125.877269,29.395039
4554,United Kingdom,1994,692.300009,680.140742,535.042443,101.738722,49.996183,5.522662,522.869175,101.750722,...,28.668900,55.072325,47.767606,-12.159268,28.27,218.56,72.53,117.36,122.791092,29.550086
4555,United Kingdom,1995,674.556594,662.397327,523.773133,97.372764,47.922431,5.488265,511.599866,97.384764,...,26.419442,54.521685,45.274287,-12.159268,29.84,216.01,69.18,116.31,120.144916,26.696265
4556,United Kingdom,1996,690.003253,677.857208,544.197144,92.970989,46.934298,5.900822,532.033099,92.985989,...,25.158256,55.485307,42.441606,-12.146045,31.58,223.29,68.03,120.83,129.347632,25.430451
4557,United Kingdom,1997,660.524167,648.364267,521.788469,88.089088,44.333231,6.313379,509.614569,88.101088,...,23.904399,54.355871,39.608925,-12.159900,33.54,210.95,66.84,121.93,119.700349,23.234623
4558,United Kingdom,1998,657.348367,645.185456,525.010179,83.738113,41.874139,6.725936,512.834268,83.749113,...,22.324446,53.899336,36.776245,-12.162911,36.33,215.99,64.28,121.17,121.223065,21.695276
4559,United Kingdom,1999,648.599127,636.441290,522.731901,79.086153,39.642579,7.138494,510.560064,79.098153,...,21.000972,53.369348,33.943564,-12.157838,36.01,215.05,63.14,124.70,116.945781,20.429461
4560,United Kingdom,2000,648.375365,636.212479,530.705421,73.681619,36.437274,7.551051,518.529535,73.692619,...,19.534603,51.113041,31.110883,-12.162886,37.74,225.57,63.02,122.92,116.808498,18.288341
4561,United Kingdom,2001,656.151841,643.936056,544.783475,68.365855,35.119835,7.882676,532.567689,68.365855,...,18.925074,48.436806,28.828442,-12.215785,37.63,234.45,66.50,121.87,119.771287,17.380231
4562,United Kingdom,2002,635.517348,623.301563,528.468885,64.398590,34.435571,8.214301,516.253100,64.398590,...,18.355850,47.742246,26.546000,-12.215785,36.39,229.90,61.54,123.14,112.194076,16.089176
4563,United Kingdom,2003,643.619008,631.770971,540.582933,61.094253,33.395895,8.545927,528.649896,61.168253,...,18.229969,47.355201,24.263559,-11.848037,36.63,241.35,61.02,124.55,112.106865,14.743413
4564,United Kingdom,2004,640.303864,628.088079,541.297024,57.669223,32.460066,8.877552,529.081239,57.669223,...,18.137065,46.951310,21.981118,-12.215785,40.05,239.28,58.22,125.95,115.839654,13.944718
4565,United Kingdom,2005,634.554289,622.371435,539.746467,54.207775,31.390871,9.209177,527.555613,54.214775,...,17.853632,46.377636,19.698676,-12.182854,42.42,243.13,55.22,127.17,112.122443,12.981902
4566,United Kingdom,2006,634.879720,623.400624,541.090587,53.495973,31.035806,9.257354,529.610491,53.496973,...,17.877359,45.854835,19.974199,-11.479095,43.75,248.55,54.53,128.81,107.074591,12.208735
4567,United Kingdom,2007,620.904583,609.640319,528.587648,52.592310,30.419095,9.305531,517.265384,52.639310,...,17.981695,44.878526,20.249722,-11.264264,43.74,242.20,53.56,129.51,102.446739,10.067902
4568,United Kingdom,2008,605.228062,593.745610,514.352640,51.747094,29.774620,9.353707,502.870188,51.747094,...,16.972174,43.932901,20.525245,-11.482452,46.11,231.79,49.79,122.70,110.058886,9.458855
4569,United Kingdom,2009,554.505197,543.022745,464.432528,50.889831,29.780953,9.401884,452.950076,50.889831,...,15.647549,43.626037,20.800768,-11.482452,43.62,203.88,40.61,118.28,102.791034,8.849809
4570,United Kingdom,2010,571.730686,560.251268,482.105475,50.577483,29.597668,9.450060,470.625057,50.578483,...,15.671277,43.674468,21.076291,-11.479418,40.88,208.87,43.29,117.09,113.763181,8.295469
4571,United Kingdom,2011,533.343780,521.263265,443.879080,50.065029,29.381630,10.018041,431.760565,50.095029,...,16.539575,43.295564,20.880290,-12.080515,43.19,197.16,38.48,115.62,93.393974,7.974377
4572,United Kingdom,2012,557.592626,545.376840,467.995517,49.785027,29.226060,10.586021,455.779732,49.785027,...,16.795985,43.209579,20.684289,-12.215785,40.74,211.86,38.36,115.12,102.924768,8.638005
4573,United Kingdom,2013,546.264106,534.076284,455.853171,49.550849,29.706086,11.154001,443.658349,49.556849,...,17.470091,43.805013,20.488287,-12.187822,40.08,198.12,38.99,114.62,104.125561,8.645153
4574,United Kingdom,2014,506.110870,493.895085,414.272192,49.378703,30.737995,11.721981,402.056407,49.378703,...,18.389685,45.014363,20.292286,-12.215785,39.40,171.01,39.14,116.04,87.736354,8.488181

In [33]:
df4.to_csv("EU_GHG_emission.csv")

In [34]:
df5=pd.read_excel("/Users/yuesongyang/Desktop/Hack4Climate/CW_CAIT_GHG_Emissions_31102017.xlsx",
                  sheet_name="GHG Emissions")

In [35]:
SEA=["Malaysia", "Cambodia", "Indonesia", "Philippines", "East Timor", "Laos", 
     "Singapore", "Vietnam", "Brunei", "Burma", "Thailand"]
df5=df5.loc[df5['Country'].isin(SEA)]

In [36]:
df5

,Country,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),...,Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
600,Brunei,1990,12.518263,14.690984,3.916480,8.531463,0.067950,0.002370,5.998201,8.607463,...,0.002370,0.075676,0.092226,2.172721,0.23,2.54,0.12,0.55,0.050709,9.087281
601,Brunei,1991,12.119223,14.291944,3.380000,8.667627,0.068721,0.002875,5.461721,8.743627,...,0.002875,0.077035,0.094247,2.172721,0.28,2.61,0.13,0.60,0.050567,8.564500
602,Brunei,1992,12.456997,14.629718,3.580000,8.802517,0.071100,0.003380,5.661721,8.878517,...,0.003380,0.078727,0.096267,2.172721,0.31,2.71,0.17,0.65,0.050425,8.698198
603,Brunei,1993,12.863181,15.035902,3.860000,8.936565,0.062731,0.003885,5.941721,9.012565,...,0.003885,0.068830,0.098287,2.172721,0.33,2.95,0.17,0.68,0.060284,8.831896
604,Brunei,1994,13.279682,15.452403,4.140000,9.073000,0.062292,0.004390,6.221721,9.149000,...,0.004390,0.069249,0.100308,2.172721,0.40,3.16,0.19,0.72,0.060142,8.965594
605,Brunei,1995,13.775313,15.948034,4.500000,9.207685,0.062733,0.004895,6.581721,9.283685,...,0.004895,0.068798,0.102328,2.172721,0.42,3.47,0.20,0.78,0.060000,9.099292
606,Brunei,1996,14.438352,16.422778,4.834576,9.533294,0.062987,0.007495,6.780002,9.565294,...,0.132071,0.069361,0.104776,1.984426,0.44,3.58,0.23,0.84,0.060000,9.422144
607,Brunei,1997,15.154996,17.321889,5.214576,9.861405,0.068921,0.010095,7.289468,9.937405,...,0.134671,0.078105,0.107224,2.166892,0.48,3.87,0.27,0.87,0.070000,9.744997
608,Brunei,1998,14.689035,20.898713,4.416256,10.187248,0.072836,0.012695,9.424935,11.190248,...,0.118951,0.082564,0.109672,6.209679,0.44,3.24,0.20,0.82,0.060000,10.067849
609,Brunei,1999,14.902127,16.801313,4.292592,10.513469,0.080772,0.015294,6.177778,10.525469,...,0.117886,0.091420,0.112119,1.899186,0.39,3.15,0.17,0.81,0.060000,10.390701
610,Brunei,2000,15.481334,17.397092,4.537248,10.838839,0.087353,0.017894,6.434005,10.854839,...,0.135142,0.098071,0.114567,1.915758,0.43,3.41,0.14,0.81,0.060000,10.713554
611,Brunei,2001,15.465602,17.312117,4.423584,10.925144,0.093061,0.023812,6.270100,10.925144,...,0.137396,0.104967,0.117124,1.846516,0.45,3.29,0.12,0.84,0.060000,10.796115
612,Brunei,2002,15.610260,17.573979,4.480912,11.009427,0.090192,0.029729,6.412632,11.036427,...,0.150641,0.101262,0.119681,1.963720,0.47,3.29,0.12,0.88,0.060000,10.878676
613,Brunei,2003,16.595506,18.569948,5.367248,11.096146,0.096466,0.035646,7.302690,11.128146,...,0.152894,0.109136,0.122238,1.974442,0.49,4.13,0.13,0.92,0.060000,10.961237
614,Brunei,2004,16.364344,18.304904,5.040912,11.180075,0.101793,0.041564,6.956472,11.201075,...,0.162476,0.113275,0.124796,1.940560,0.52,3.78,0.12,0.97,0.050000,11.043798
615,Brunei,2005,16.362737,18.448076,4.951904,11.265289,0.098063,0.047481,6.968243,11.322289,...,0.179385,0.109641,0.127353,2.085339,0.52,3.71,0.12,0.95,0.050000,11.126359
616,Brunei,2006,18.709244,20.559546,7.330912,11.221334,0.103148,0.053850,9.180214,11.222334,...,0.174762,0.115539,0.129913,1.850302,0.57,4.21,1.90,1.03,0.080000,11.079030
617,Brunei,2007,18.286539,20.133055,6.938928,11.177822,0.109570,0.060218,8.785444,11.177822,...,0.159146,0.123217,0.132473,1.846516,0.55,3.76,1.85,1.13,0.110000,11.031702
618,Brunei,2008,18.649107,20.495992,7.340912,11.133162,0.108446,0.066587,9.187798,11.133162,...,0.187499,0.122201,0.135033,1.846886,0.56,3.93,1.93,1.13,0.240000,10.984374
619,Brunei,2009,18.810336,20.977014,7.539920,11.089164,0.108297,0.072955,9.616597,11.164164,...,0.182875,0.122822,0.137594,2.166677,0.53,5.12,0.97,1.12,0.220000,10.937046
620,Brunei,2010,18.234471,20.238986,6.995568,11.045116,0.114463,0.079324,8.955083,11.082116,...,0.214892,0.129707,0.140154,2.004515,0.61,5.16,0.43,1.18,0.100000,10.889718
621,Brunei,2011,18.584427,18.967160,7.152896,11.233536,0.109696,0.088298,7.534629,11.234536,...,0.231194,0.121834,0.142713,0.382733,0.64,5.16,0.47,1.28,0.100000,11.078686
622,Brunei,2012,18.942791,19.332707,7.299000,11.426638,0.119880,0.097273,7.686916,11.428638,...,0.262153,0.133593,0.145272,0.389916,0.47,4.98,0.54,1.34,0.100000,11.431773
623,Brunei,2013,19.033399,19.414988,7.182664,11.618803,0.125684,0.106248,7.563253,11.619803,...,0.274792,0.140036,0.147831,0.381589,0.51,4.96,0.42,1.33,0.150000,11.620741
624,Brunei,2014,19.207973,19.756352,7.149405,11.812436,0.130909,0.115223,7.649785,11.852436,...,0.291095,0.147366,0.150390,0.548379,0.45,4.83,0.34,1.35,0.180000,11.919122
700,Cambodia,1990,15.351070,42.821070,1.260416,10.979845,3.110505,0.000304,27.660416,11.725845,...,0.000304,13.115257,0.232161,27.470000,NaN,NaN,NaN,NaN,0.742932,0.000000
701,Cambodia,1991,15.257660,42.727660,1.304384,10.754667,3.197588,0.001021,27.704384,11.500667,...,0.001021,12.825624,0.241520,27.470000,NaN,NaN,NaN,NaN,0.885111,0.000000
702,Cambodia,1992,15.888146,43.358146,1.348352,11.114496,3.423560,0.001738,27.748352,11.860496,...,0.001738,13.259887,0.250880,27.470000,NaN,NaN,NaN,NaN,1.027289,0.000000
703,Cambodia,1993,16.738263,44.208263,1.384992,11.805380,3.545435,0.002456,27.784992,12.551380,...,0.002456,13.921109,0.260239,27.470000,NaN,NaN,NaN,NaN,1.169468,0.000000
704,Cambodia,1994,15.894545,43.364545,1.476592,10.881084,3.533695,0.003173,27.876592,11.627084,...,0.054469,12.833535,0.269599,27.470000,NaN,NaN,NaN,NaN,1.311646,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4295,Thailand,2010,338.926654,339.993986,237.780208,74.092349,22.893157,4.160940,236.743539,75.560349,...,18.856951,70.795591,9.968383,1.067331,14.46,98.06,49.94,57.17,26.011838,8.133891
4296,Thailand,2011,336.376916,350.421362,236.872016,72.884154,21.921943,4.698802,250.481462,73.187154,...,20.118900,68.161749,10.022590,14.044447,14.13,97.73,44.15,60.18,27.707874,8.295803
4297,Thailand,2012,356.229461,371.606908,254.784816,73.822832,22.385148,5.236665,268.394263,75.055832,...,21.391841,69.109198,10.076798,15.377446,13.28,106.18,48.69,62.83,29.483910,8.457714
4298,Thailand,2013,366.367929,381.308397,265.425077,72.731271,22.437054,5.774527,279.042545,73.654271,...,23.972830,67.615108,10.131005,14.940468,14.13,114.79,50.56,62.44,28.119946,8.729040
4299,Thailand,2014,358.418622,374.384825,261.059061,69.702593,21.344578,6.312389,274.765264,71.283593,...,24.076955,63.039522,10.185213,15.966202,14.93,113.48,50.88,60.19,27.675981,8.890951
4700,Vietnam,1990,70.513018,25.763395,18.625760,39.460691,12.413195,0.013372,-26.796863,39.945691,...,1.259132,41.147889,2.377607,-44.749623,0.09,4.88,5.66,4.17,10.297617,0.730774
4701,Vietnam,1991,73.518732,28.769109,18.574912,41.140871,13.787243,0.015706,-26.847711,41.625871,...,1.510618,43.437615,2.593761,-44.749623,0.10,3.63,6.25,3.94,11.197341,0.959397
4702,Vietnam,1992,76.207264,31.457641,19.673216,42.825136,13.690872,0.018040,-25.749407,43.310136,...,2.011256,44.261007,2.809915,-44.749623,0.11,3.04,6.77,4.42,11.717066,1.188021
4703,Vietnam,1993,83.050674,38.301051,24.624517,44.204633,14.201149,0.020374,-20.798105,44.689633,...,2.112518,45.386280,3.026068,-44.749623,0.15,2.78,7.21,6.90,12.796790,2.839018
4704,Vietnam,1994,88.981592,44.231969,27.173669,45.316043,16.469171,0.022708,-18.248953,45.801043,...,2.364004,48.001210,3.242222,-44.749623,0.16,3.72,7.38,7.60,13.606515,3.067642
4705,Vietnam,1995,94.168534,49.418912,30.847912,46.912718,16.382863,0.025042,-14.574711,47.397718,...,2.930594,48.747073,3.458376,-44.749623,0.34,4.49,10.43,7.27,14.476239,2.366252
4706,Vietnam,1996,102.099319,57.211236,34.774717,49.490827,17.795369,0.038406,-10.702365,49.914827,...,3.321350,51.332808,4.351737,-44.888083,0.36,5.63,11.00,8.00,15.363655,3.109769
4707,Vietnam,1997,109.838954,64.721466,40.879784,51.447263,17.460137,0.051770,-4.672704,51.759263,...,4.049194,51.549131,5.245097,-45.117488,0.30,8.12,13.18,8.75,15.311072,3.634459
4708,Vietnam,1998,119.285369,75.521306,45.772323,54.070361,19.377552,0.065134,0.387260,55.218361,...,4.916270,54.684763,6.138458,-43.764063,0.42,10.48,13.70,9.19,15.688488,4.487390
4709,Vietnam,1999,122.945717,78.380915,46.155008,56.819120,19.893091,0.078498,0.726206,57.437120,...,5.307026,56.544181,7.031819,-44.564802,0.62,9.63,13.75,9.83,15.785904,5.066786
4710,Vietnam,2000,130.866818,86.272439,51.559363,58.489853,20.725739,0.091862,6.050984,59.138853,...,6.720038,57.642682,7.925180,-44.594379,0.76,11.49,14.43,10.57,16.333320,5.755597
4711,Vietnam,2001,135.650034,117.461127,57.455984,58.936253,19.120138,0.137659,39.230077,58.962253,...,8.147163,55.196160,8.030217,-18.188907,0.95,12.37,16.43,11.29,17.580414,6.606080
4712,Vietnam,2002,149.264106,133.842704,68.349488,60.551283,20.179879,0.183456,52.112086,61.224283,...,10.706464,56.583611,8.135254,-15.421402,1.08,15.58,18.32,13.84,18.587507,7.511270
4713,Vietnam,2003,156.533030,138.831938,72.868651,62.198120,21.237007,0.229252,54.670559,62.546120,...,12.250836,58.000255,8.240290,-17.701091,1.18,15.80,19.63,15.65,18.664601,8.307047
4714,Vietnam,2004,175.073389,157.758718,87.019915,64.172311,23.606114,0.275049,68.988244,64.682311,...,13.307897,61.056233,8.345327,-17.314671,1.72,20.52,22.78,19.07,20.771694,9.212237
4715,Vietnam,2005,182.135245,165.262928,95.098640,65.781876,20.933884,0.320845,77.064323,66.601876,...,15.673005,58.706248,8.450364,-16.872317,1.75,24.28,24.05,19.24,21.508788,10.226841
4716,Vietnam,2006,187.752961,180.767194,99.122517,67.190963,21.048197,0.391284,91.898750,67.356963,...,16.681428,59.682159,8.553384,-6.985767,1.84,26.67,24.14,19.19,21.545685,11.290306
4717,Vietnam,2007,199.715356,193.748527,109.372677,67.580998,22.299959,0.461722,102.189848,68.430998,...,18.950266,60.776467,8.656404,-5.966830,1.97,28.91,26.85,22.44,21.872581,11.259638
4718,Vietnam,2008,212.309202,205.155295,121.979957,68.221829,21.575255,0.532161,114.754050,68.271829,...,20.467985,60.145105,8.759424,-7.153907,2.22,30.18,35.34,23.83,22.029478,11.557210
4719,Vietnam,2009,231.506006,224.487380,137.015765,68.704674,25.182968,0.602599,129.794139,68.846674,...,24.924231,63.688175,8.862444,-7.018627,2.45,32.35,38.94,28.56,22.326375,11.854782
4720,Vietnam,2010,247.891988,242.124625,155.373176,69.070749,22.775025,0.673038,148.425813,69.907749,...,28.479134,61.098818,8.965464,-5.767363,3.06,41.49,41.56,30.53,23.233272,12.535300
4721,Vietnam,2011,247.252115,227.737002,155.611920,69.373125,21.504719,0.762350,135.923808,69.494125,...,29.799550,59.771948,9.061107,-19.515113,2.42,40.26,42.98,30.10,23.059393,12.220116
4722,Vietnam,2012,246.751221,227.495648,153.559368,69.693306,22.646884,0.851663,133.866794,69.998306,...,28.522191,60.875354,9.156750,-19.255574,2.52,41.45,42.34,29.60,22.235514,12.561412
4723,Vietnam,2013,256.518782,238.849688,159.828648,70.364399,25.384759,0.940976,141.357554,70.987399,...,29.600784,63.925381,9.252393,-17.669094,2.73,44.45,44.57,28.82,23.161635,12.738588
4724,Vietnam,2014,270.298252,251.945226,174.555189,70.485757,24.227017,1.030289,155.391163,71.078757,...,31.181345,62.530056,9.348037,-18.353026,2.76,50.01,48.37,31.93,24.067756,12.861058

In [37]:
df5.to_csv("SEA_GHG_emission.csv")

In [38]:
df6=pd.read_excel("/Users/yuesongyang/Desktop/Hack4Climate/CW_CAIT_GHG_Emissions_31102017.xlsx",
                 sheet_name="CO2 Total Emissions")

In [39]:
df6.head(15)

,Country,Year,Total CO2 Emissions Excluding Land-Use Change and Forestry (MtCO2)
0,Afghanistan,1850,NaN
1,Albania,1850,NaN
2,Algeria,1850,NaN
3,Andorra,1850,NaN
4,Angola,1850,NaN
5,Antigua & Barbuda,1850,NaN
6,Argentina,1850,NaN
7,Armenia,1850,0.000426
8,Australia,1850,NaN
9,Austria,1850,2.326640
10,Azerbaijan,1850,0.001583
11,Bahamas,1850,NaN
12,Bahrain,1850,NaN
13,Bangladesh,1850,NaN
14,Barbados,1850,NaN

In [40]:
df6=df6.dropna()

In [41]:
df6.head()

,Country,Year,Total CO2 Emissions Excluding Land-Use Change and Forestry (MtCO2)
7,Armenia,1850,0.000426
9,Austria,1850,2.326640
10,Azerbaijan,1850,0.001583
15,Belarus,1850,0.003059
16,Belgium,1850,9.332208

In [42]:
df6=df6.loc[df6["Year"] > 2000]

In [43]:
EU_CO2=df6.loc[df6["Country"].isin(Names)]

In [44]:
SEA_CO2=df6.loc[df6["Country"].isin(SEA)]

In [45]:
EU_CO2.to_csv("EU_CO2_emission.csv")

In [46]:
SEA_CO2.to_csv("SEA_CO2_emission.csv")

In [47]:
top10_GDP

,country,ISO code,GDP in 2011,GDP in 2012,GDP in 2013,GDP in 2014,GDP in 2015,GDP in 2016,Country GDP rank in 2011,Country GDP rank in 2012,...,Population rank in 2016,Population rank in 2011,Population growth rate in 2016,Population growth rate in 2011,Rank of population growth rate in 2016,Rank of population growth rate in 2011,Population living below the national income poverty line,Climate Risk Score,Vulnerability score,Readiness score
0,United States,USA,1.550000e+13,1.620000e+13,1.670000e+13,1.740000e+13,1.800000e+13,1.860000e+13,1.0,1.0,...,3.0,3,1.739791,0.745614,71.0,132.0,NaN,47.50,0.246781,0.769275
1,China,CHN,7.570000e+12,8.560000e+12,9.610000e+12,1.050000e+13,1.110000e+13,1.120000e+13,2.0,2.0,...,1.0,1,3.278534,0.479150,9.0,140.0,NaN,52.00,0.302289,0.518751
2,Japan,JPN,6.160000e+12,6.200000e+12,5.160000e+12,4.850000e+12,4.380000e+12,4.940000e+12,3.0,3.0,...,11.0,10,-0.214276,-0.185226,180.0,178.0,NaN,87.50,0.288026,0.756604
3,Germany,DEU,3.760000e+12,3.540000e+12,3.750000e+12,3.880000e+12,3.360000e+12,3.470000e+12,4.0,4.0,...,16.0,16,2.236738,-1.853715,49.0,191.0,NaN,43.50,0.226580,0.788762
4,United Kingdom,GBR,2.610000e+12,2.650000e+12,2.720000e+12,3.000000e+12,2.860000e+12,2.620000e+12,7.0,6.0,...,22.0,22,0.692801,0.781677,141.0,126.0,NaN,66.17,0.210974,0.782798
5,France,FRA,2.860000e+12,2.680000e+12,2.810000e+12,2.850000e+12,2.430000e+12,2.470000e+12,5.0,5.0,...,21.0,21,0.481445,0.483645,149.0,139.0,NaN,42.33,0.256952,0.734654
6,India,IND,1.820000e+12,1.830000e+12,1.860000e+12,2.040000e+12,2.110000e+12,2.260000e+12,10.0,10.0,...,2.0,2,-0.255023,1.311876,181.0,95.0,21.9,37.50,0.453542,0.382419
7,Italy,ITA,2.280000e+12,2.070000e+12,2.130000e+12,2.150000e+12,1.820000e+12,1.850000e+12,8.0,9.0,...,23.0,23,1.033589,0.171978,120.0,164.0,NaN,46.00,0.283220,0.615492
8,Brazil,BRA,2.620000e+12,2.470000e+12,2.470000e+12,2.460000e+12,1.800000e+12,1.800000e+12,6.0,7.0,...,5.0,5,0.817556,0.956013,133.0,121.0,7.4,83.33,0.345614,0.455021
9,Canada,CAN,1.790000e+12,1.820000e+12,1.840000e+12,1.790000e+12,1.550000e+12,1.530000e+12,11.0,11.0,...,38.0,37,0.824580,0.987618,132.0,120.0,NaN,97.00,0.256292,0.739274

In [48]:
Top10_names=top10_GDP["country"].tolist()

In [49]:
Top10_names

['United States',
 'China',
 'Japan',
 'Germany',
 'United Kingdom',
 'France',
 'India',
 'Italy',
 'Brazil',
 'Canada']

In [50]:
df6.head()

,Country,Year,Total CO2 Emissions Excluding Land-Use Change and Forestry (MtCO2)
29143,Afghanistan,2001,0.795088
29144,Albania,2001,3.220000
29145,Algeria,2001,75.123829
29146,Andorra,2001,0.523952
29147,Angola,2001,12.963733

In [51]:
df7=pd.read_excel("/Users/yuesongyang/Desktop/Hack4Climate/CW_CAIT_GHG_Emissions_31102017.xlsx",
                 sheet_name="CO2 Total Emissions")

In [52]:
Top10_CO2=df7.loc[df7["Country"].isin(Top10_names)]

In [53]:
Top10_CO2.Country.unique()

array(['Brazil', 'Canada', 'China', 'France', 'Germany', 'India', 'Italy',
       'Japan', 'United Kingdom'], dtype=object)

In [54]:
Top10_CO2.to_csv("Top10_CO2.csv")

In [55]:
UK=Top10_CO2.loc[Top10_CO2["Country"]=="United Kingdom"]

In [56]:
UK

,Country,Year,Total CO2 Emissions Excluding Land-Use Change and Forestry (MtCO2)
182,United Kingdom,1850,122.604768
375,United Kingdom,1851,116.654432
568,United Kingdom,1852,116.240400
761,United Kingdom,1853,115.599200
954,United Kingdom,1854,139.301616
1147,United Kingdom,1855,130.442064
1340,United Kingdom,1856,140.375168
1533,United Kingdom,1857,137.861664
1726,United Kingdom,1858,135.113664
1919,United Kingdom,1859,150.015152
2112,United Kingdom,1860,167.950432
2305,United Kingdom,1861,175.043936
2498,United Kingdom,1862,169.470992
2691,United Kingdom,1863,180.224832
2884,United Kingdom,1864,193.906208
3077,United Kingdom,1865,205.488112
3270,United Kingdom,1866,211.731568
3463,United Kingdom,1867,217.374128
3656,United Kingdom,1868,213.219152
3849,United Kingdom,1869,223.705520
4042,United Kingdom,1870,228.498032
4235,United Kingdom,1871,242.036512
4428,United Kingdom,1872,254.988752
4621,United Kingdom,1873,264.658048
4814,United Kingdom,1874,257.187152
5007,United Kingdom,1875,271.491408
5200,United Kingdom,1876,271.018752
5393,United Kingdom,1877,275.899200
5586,United Kingdom,1878,270.974784
5779,United Kingdom,1879,272.645568
...,...,...,...
26237,United Kingdom,1985,554.791269
26430,United Kingdom,1986,568.602016
26623,United Kingdom,1987,573.479611
26816,United Kingdom,1988,573.239267
27009,United Kingdom,1989,559.971344
27202,United Kingdom,1990,555.034336
27395,United Kingdom,1991,570.358621
27588,United Kingdom,1992,552.895008
27781,United Kingdom,1993,540.376197
27974,United Kingdom,1994,535.042443
28167,United Kingdom,1995,523.773133
28360,United Kingdom,1996,544.197144
28553,United Kingdom,1997,521.788469
28746,United Kingdom,1998,525.010179
28939,United Kingdom,1999,522.731901
29132,United Kingdom,2000,530.705421
29325,United Kingdom,2001,544.783475
29518,United Kingdom,2002,528.468885
29711,United Kingdom,2003,540.582933
29904,United Kingdom,2004,541.297024
30097,United Kingdom,2005,539.746467
30290,United Kingdom,2006,541.090587
30483,United Kingdom,2007,528.587648
30676,United Kingdom,2008,514.352640
30869,United Kingdom,2009,464.432528
31062,United Kingdom,2010,482.105475
31255,United Kingdom,2011,443.879080
31448,United Kingdom,2012,467.995517
31641,United Kingdom,2013,455.853171
31834,United Kingdom,2014,414.272192

In [57]:
UK.to_excel("UK.xlsx")

In [58]:
top10_GDP

,country,ISO code,GDP in 2011,GDP in 2012,GDP in 2013,GDP in 2014,GDP in 2015,GDP in 2016,Country GDP rank in 2011,Country GDP rank in 2012,...,Population rank in 2016,Population rank in 2011,Population growth rate in 2016,Population growth rate in 2011,Rank of population growth rate in 2016,Rank of population growth rate in 2011,Population living below the national income poverty line,Climate Risk Score,Vulnerability score,Readiness score
0,United States,USA,1.550000e+13,1.620000e+13,1.670000e+13,1.740000e+13,1.800000e+13,1.860000e+13,1.0,1.0,...,3.0,3,1.739791,0.745614,71.0,132.0,NaN,47.50,0.246781,0.769275
1,China,CHN,7.570000e+12,8.560000e+12,9.610000e+12,1.050000e+13,1.110000e+13,1.120000e+13,2.0,2.0,...,1.0,1,3.278534,0.479150,9.0,140.0,NaN,52.00,0.302289,0.518751
2,Japan,JPN,6.160000e+12,6.200000e+12,5.160000e+12,4.850000e+12,4.380000e+12,4.940000e+12,3.0,3.0,...,11.0,10,-0.214276,-0.185226,180.0,178.0,NaN,87.50,0.288026,0.756604
3,Germany,DEU,3.760000e+12,3.540000e+12,3.750000e+12,3.880000e+12,3.360000e+12,3.470000e+12,4.0,4.0,...,16.0,16,2.236738,-1.853715,49.0,191.0,NaN,43.50,0.226580,0.788762
4,United Kingdom,GBR,2.610000e+12,2.650000e+12,2.720000e+12,3.000000e+12,2.860000e+12,2.620000e+12,7.0,6.0,...,22.0,22,0.692801,0.781677,141.0,126.0,NaN,66.17,0.210974,0.782798
5,France,FRA,2.860000e+12,2.680000e+12,2.810000e+12,2.850000e+12,2.430000e+12,2.470000e+12,5.0,5.0,...,21.0,21,0.481445,0.483645,149.0,139.0,NaN,42.33,0.256952,0.734654
6,India,IND,1.820000e+12,1.830000e+12,1.860000e+12,2.040000e+12,2.110000e+12,2.260000e+12,10.0,10.0,...,2.0,2,-0.255023,1.311876,181.0,95.0,21.9,37.50,0.453542,0.382419
7,Italy,ITA,2.280000e+12,2.070000e+12,2.130000e+12,2.150000e+12,1.820000e+12,1.850000e+12,8.0,9.0,...,23.0,23,1.033589,0.171978,120.0,164.0,NaN,46.00,0.283220,0.615492
8,Brazil,BRA,2.620000e+12,2.470000e+12,2.470000e+12,2.460000e+12,1.800000e+12,1.800000e+12,6.0,7.0,...,5.0,5,0.817556,0.956013,133.0,121.0,7.4,83.33,0.345614,0.455021
9,Canada,CAN,1.790000e+12,1.820000e+12,1.840000e+12,1.790000e+12,1.550000e+12,1.530000e+12,11.0,11.0,...,38.0,37,0.824580,0.987618,132.0,120.0,NaN,97.00,0.256292,0.739274

In [59]:
scores=top10_GDP.iloc[:,-3:]

In [60]:
from sklearn.preprocessing import MinMaxScaler

In [61]:
scaler = MinMaxScaler()

In [62]:
scores=scores[]

SyntaxError: invalid syntax (<ipython-input-62-969129bd3448>, line 1)

In [64]:
df8=pd.read_excel("/Users/yuesongyang/Desktop/Hack4Climate/CW_WB_Climate_Vulnerability_Readiness_31102017.xlsx")

In [65]:
df8

,country,Population living below the national income poverty line,Climate Risk Score,Vulnerability score,Readiness score,Link to climate risk and adaptation profile,Droughts,Storms,Epidemics,Landslides,Floods,Wildfires
0,AFG,35.8,36.17,0.633770,0.281464,http://sdwebx.worldbank.org/climateportal/coun...,YES,YES,YES,YES,YES,NO
1,AGO,NaN,106.67,0.566557,0.289926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,14.3,125.50,0.386407,0.525043,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,NaN,154.67,0.364053,0.603236,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ARG,NaN,84.67,0.374480,0.440038,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ARM,30.0,139.50,0.384046,0.537698,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ATG,NaN,74.50,0.420977,0.547683,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AUS,NaN,52.00,0.267742,0.754620,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AUT,NaN,60.83,0.303491,0.794466,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,AZE,6.0,134.83,0.363142,0.455886,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,BDI,64.6,82.50,0.689829,0.292340,http://sdwebx.worldbank.org/climateportal/coun...,YES,YES,YES,NO,YES,NO
12,BEL,NaN,NaN,0.289324,0.692457,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,BEN,36.2,136.17,0.572531,0.360389,http://sdwebx.worldbank.org/climateportal/coun...,NO,NO,YES,NO,YES,NO
14,BFA,40.1,98.83,0.579800,0.325802,http://sdwebx.worldbank.org/climateportal/coun...,YES,NO,YES,NO,YES,NO
15,BGD,31.5,25.00,0.506402,0.327122,http://sdwebx.worldbank.org/climateportal/coun...,YES,YES,NO,NO,YES,NO
16,BGR,NaN,69.17,0.318531,0.560042,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,BHR,NaN,125.00,0.425170,0.536379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,BHS,NaN,42.50,0.421427,0.484170,http://sdwebx.worldbank.org/climateportal/coun...,YES,YES,NO,NO,YES,NO
19,BIH,17.9,NaN,0.341586,0.452705,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BLR,5.1,135.67,0.311050,0.561851,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,BLZ,NaN,47.17,0.431817,0.372710,http://sdwebx.worldbank.org/climateportal/coun...,NO,YES,NO,NO,YES,NO
22,BOL,38.6,52.17,0.459177,0.339973,http://sdwebx.worldbank.org/climateportal/coun...,YES,NO,YES,YES,YES,NO
23,BRA,7.4,83.33,0.345614,0.455021,http://sdwebx.worldbank.org/climateportal/coun...,NO,YES,NO,YES,YES,NO
24,BRB,NaN,144.00,0.353889,0.599692,http://sdwebx.worldbank.org/climateportal/coun...,YES,YES,YES,YES,YES,NO
25,BRN,NaN,168.33,0.381592,0.545358,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,BTN,12.0,98.17,0.498819,0.454814,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,BWA,NaN,141.50,0.510405,0.494453,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,CAF,62.0,153.67,0.676844,0.174154,http://sdwebx.worldbank.org/climateportal/coun...,YES,YES,YES,NO,YES,YES
29,CAN,NaN,97.00,0.256292,0.739274,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
166,SWE,NaN,134.67,0.281152,0.819300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,SWZ,63.0,107.83,0.550901,0.348491,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,SYC,NaN,159.33,0.318216,0.486683,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,SYR,35.2,NaN,0.467400,0.300692,http://sdwebx.worldbank.org/climateportalb/hom...,YES,YES,NO,NO,YES,NO
170,TCD,46.7,89.33,0.722483,0.229738,http://sdwebx.worldbank.org/climateportal/coun...,YES,NO,YES,NO,YES,NO
171,TGO,55.1,147.00,0.564654,0.330716,http://sdwebx.worldbank.org/climateportalb/hom...,YES,NO,YES,NO,YES,NO
172,THA,10.5,34.83,0.362211,0.547367,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,TJK,31.3,52.50,0.390856,0.354511,http://sdwebx.worldbank.org/climateportalb/hom...,YES,NO,YES,YES,YES,NO
174,TKM,NaN,NaN,0.442103,0.237434,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,TLS,41.8,NaN,0.597131,0.423447,http://sdwebx.worldbank.org/climateportalb/hom...,YES,YES,YES,NO,YES,NO
176,TON,NaN,58.00,0.446281,0.423696,http://sdwebx.worldbank.org/climateportalb/hom...,NO,YES,NO,NO,NO,NO
177,TTO,NaN,153.83,0.339195,0.441253,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,TUN,15.5,155.83,0.398086,0.473920,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,TUR,NaN,110.00,0.330160,0.526803,http://sdwebx.worldbank.org/climateportalb/hom...,NO,NO,NO,NO,YES,NO
180,TUV,NaN,115.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,TZA,28.2,103.50,0.539639,0.357916,http://sdwebx.worldbank.org/climateportalb/hom...,YES,NO,YES,NO,YES,NO
182,UGA,19.5,87.33,0.644965,0.316642,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,UKR,6.4,88.33,0.320397,0.471182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,URY,NaN,82.00,0.365137,0.570438,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,USA,NaN,47.50,0.246781,0.769275,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,UZB,14.1,139.67,0.385096,0.345368,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,VCT,NaN,63.33,0.349051,0.548806,http://sdwebx.worldbank.org/climateportalb/hom...,NO,YES,NO,NO,YES,NO
188,VEN,NaN,67.50,0.339516,0.302477,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,VNM,13.5,31.33,0.401241,0.448524,http://sdwebx.worldbank.org/climateportalb/hom...,NO,YES,NO,NO,YES,NO
190,VUT,12.7,54.67,0.513118,0.400279,http://sdwebx.worldbank.org/climateportalb/hom...,YES,NO,YES,NO,YES,NO
191,WSM,NaN,77.50,0.499091,0.439716,http://sdwebx.worldbank.org/climateportalb/hom...,NO,YES,NO,NO,YES,YES
192,YEM,34.8,70.17,0.639847,0.283010,http://sdwebx.worldbank.org/climateportalb/hom...,YES,YES,YES,YES,YES,NO
193,ZAF,53.8,83.33,0.389621,0.454982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,ZMB,60.5,130.17,0.537752,0.375722,http://sdwebx.worldbank.org/climateportalb/hom...,YES,NO,YES,NO,YES,NO
195,ZWE,72.3,79.00,0.515295,0.250603,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
Top10_names

['United States',
 'China',
 'Japan',
 'Germany',
 'United Kingdom',
 'France',
 'India',
 'Italy',
 'Brazil',
 'Canada']